@import "sensorStatus";
@import "equipmentPlanner";
@import "sensorDataGraph";

body{
    background-color:lightsteelblue;
    text-align:center;
}

#mainPage {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    a {
        display: flex;
        justify-content: center;  /* Zentriert den Text horizontal */
        align-items: center;      /* Zentriert den Text vertikal */
        width: 50%;
        height: 98vh;
        text-decoration: none;    /* Optional: Entfernt die Unterstreichung des Links */
        border-style:solid;
        border-width:1px;
        color: black;             /* Optional: Setzt die Textfarbe */
        font-size: 2rem;          /* Optional: Textgröße anpassen */
      }
    a:hover{
        background-color: rgb(100, 197, 165);
        transition-duration: 0.5s;
    }  
  }
  
 